@model GamingShop.Web.Models.AccountLatestOrdersModel

@if (Model.Orders.Any())
{
    <div class="latest-orders-container">

        @foreach (var order in Model.Orders)
        {
            <div class="latest-orders-item">
                <div class="latest-orders-details">
                    <div class="order-details-item">
                        <h3 class="order-details-title">Total Price: </h3>
                        <h3 class="order-details-content">@order.TotalPrice$ </h3>
                    </div>
                    <div class="order-details-item">
                        <h3 class="order-details-title">Placed: </h3>
                        <h3 class="order-details-content">@order.Placed </h3>
                    </div>
                    <div class="order-details-item">
                        <h3 class="order-details-title">Country:</h3>
                        <h3 class="order-details-content">@order.Country</h3>
                    </div>
                    <div class="order-details-item">
                        <h3 class="order-details-title">City:</h3>
                        <h3 class="order-details-content">@order.City</h3>
                    </div>
                    <div class="order-details-item">
                        <h3 class="order-details-title">Street:</h3>
                        <h3 class="order-details-content">@order.Street</h3>
                    </div>
                </div>
                <div class="latestOrders-btn">
                    <a href="#">View ordered items</a>
                </div>

            </div>
        }
    </div>
}
else
{
    <h1>You haven't ordered anything yet :( </h1>
}
